body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.orng-color {
    color: orange;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 30px;
}

.half-width img {
    width: 70%;
}

.hire-me {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 3px;
}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.resume {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 3px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiences-items {
    width: 40%;
    padding: 15px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
}

.orng-clr {
    color: orange;
}

.experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stuck-developer {
    border-left: 7px solid tomato;
    border-radius: 10px;
}

#baby-web-developer {
    border-left: 7px solid blue;
    border-radius: 10px;
}

footer p {
    text-align: center;
}